{% extends "base.html" %}
{% block content %}
<h1>Список специальностей</h1>

{% if session.role == 2 %}
<details>
    <summary>Добавить специальность</summary>
    <div class="form_div">
        <form method="post" action="professions/add">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="name" placeholder="Название">
            <input type="text" name="abbr" placeholder="Сокращение">
            <input type="submit" value="Добавить">
        </form>
    </div>
</details>
{% endif %}

<div class="table_div">
    <table>
        <tr>
           <th>Номер</th><th>Название</th><th>Сокращение</th>
        </tr>
        {% for pr in prs %}
            <tr>
                <td><a href="/professions/{{pr[0]}}">{{pr[0]}}</a></td>
                <td><a href="/professions/{{pr[0]}}">{{pr[1]}}</a></td>
                <td><a href="/professions/{{pr[0]}}">{{pr[2]}}</a></td>
            </tr>
        {% endfor %}
</table>
</div>

{% endblock %}