{% extends "base.html" %}
{% block content %}
<h1>Отчеты - Предмет</h1>

<div class="form_div">
    <form method="post" action="/reports/subject">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <select name="sbid">
            <option disabled selected>Выберите предмет</option>
                {% for sb in sbs %}
                    {% if sbid == sb[0] %}
                        <option selected name="sbid" value="{{sb[0]}}">({{sb[6]}}) {{sb[1]}}</option>
                    {% else %}
                        <option name="sbid" value="{{sb[0]}}">({{sb[6]}}) {{sb[1]}}</option>
                    {% endif %}
                {% endfor %}
        </select>
        <input type="submit" value="Показать">
    </form>
</div>

<div class="table_div">
    <table>
        <tr>
           <th>Дата</th><th>Студент</th><th>Оценка</th>
        </tr>
        {% for student in students %}
            <tr>
                <td><a href="/students/{{student[0]}}">{{student[4]}}</a></td>
                <td><a href="/students/{{student[0]}}">{{student[8]}}</a></td>
                <td><a href="/students/{{student[0]}}">{{student[3]}}</a></td>
            </tr>
        {% endfor %}
</table>
</div>

{% endblock %}